name: Build Docker Container
on:
  release:
    types: [released,prereleased]
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: |
            VERSION=${{ github.ref_name }}
          push: true
          #https://docs.docker.com/build/ci/github-actions/attestations/
          sbom: true
          #only do latest on latest tag in github? -> how??
          tags: ghcr.io/upblueio/timescale:${{ github.ref_name }}
